<hr />
<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-5 col-md-offset-0">
            10GB از <strong>250GB</strong> فضای رایگان شما استفاده شده است!
            </div>
            <div class="pull-left">
                <strong>Copyright</strong> Amir Company &copy; 2018-2019
            </div>
        </div>
    </div>
</div>